from intellect.classes.Resource import Resource

threshold = 120

rule "test load":
        agenda-group cpu
        when:
                $resource := Resource( get_ema("cpu")>threshold)
                #$resource := Resource( resource_id == "1")
        then:
                attribute ema_value = $resource.get_ema("cpu")
                print "*** rule fired for resource {0}! ema_value intellect = {1} ***".format( $resource.resource_id, ema_value )
